In [4]:
import pandas as pd

data = pd.read_csv("weather_data.csv")

In [8]:
type(data["temp"])

pandas.core.series.Series

In [9]:
type(data)

pandas.core.frame.DataFrame

In [7]:
data

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [10]:
data_dict = data.to_dict()

In [11]:
data_dict

{'day': {0: 'Monday',
  1: 'Tuesday',
  2: 'Wednesday',
  3: 'Thursday',
  4: 'Friday',
  5: 'Saturday',
  6: 'Sunday'},
 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24},
 'condition': {0: 'Sunny',
  1: 'Rain',
  2: 'Rain',
  3: 'Cloudy',
  4: 'Sunny',
  5: 'Sunny',
  6: 'Sunny'}}

In [14]:
temp_list = data["temp"].to_list()

In [15]:
temp_list

[12, 14, 15, 14, 21, 22, 24]

In [18]:
avg_temp = data["temp"].mean()

In [20]:
max_temp = data["temp"].max()
print(max_temp)

24

In [24]:
data.condition #other way of selecting column

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [27]:
data.iloc[0]

day          Monday
temp             12
condition     Sunny
Name: 0, dtype: object

In [29]:
data

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [30]:
data[data["day"] == "Monday"]

      day  temp condition
0  Monday    12     Sunny

In [36]:
data["temp"].max()

24

In [37]:
data[data["temp"] == data["temp"].max()]

      day  temp condition
6  Sunday    24     Sunny

In [38]:
monday = data[data["day"] == "Monday"]

In [46]:
(monday["temp"] * 9/5) + 32

0    53.6
Name: temp, dtype: float64

In [47]:
#create dataframe from sratch

In [48]:
data_dict = {
    "students" : ["David", "John", "Micheal"],
    "scores" : [75, 12, 22]  
}

In [49]:
new_data = pd.DataFrame(data_dict)

In [55]:
new_data.to_csv("new_data.tsv", sep="t")